* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #fdf;
  font: 30px sans-serif;
}

.wrapper {
    position: relative;
}

.image {
    -webkit-filter: grayscale(100%);
    background-image: url(/jsdoitArchives/assets/img/photo-1471851455650-fae7acd5364f.jpeg);
    width: 465px;
    height: 465px;
}

.image-overlay {
    mix-blend-mode: screen;
    background-color: #00a6e7;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}