* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #fff;
  font: 30px sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.default-input {
    position: fixed;
    top: 0;
    left: 0;
}

.hour, .minutes {
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
}

.content {
    position: relative;
    overflow: hidden;
}

.time {
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
    pointer-events: none;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
}

#input-time {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 88px;
}

.hour-ten, .minutes-ten, .hour-one, .minutes-one {
    width: 59px;
    height: 84px;
    background-repeat: no-repeat;
    background-position: center;
    &[data-num="0"] {
        background-image: url("/jsdoitArchives/assets/img/ujKaaIATKKx7vi5kkfQn__DSC3932.png");      
    }
    &[data-num="1"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1465420961937-e0eba4dda519.png");      
    }
    &[data-num="2"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1414541944151-2f3ec1cfd87d.png");      
    }
    &[data-num="3"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1447069387593-a5de0862481e.png");      
    }
    &[data-num="4"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1462524500090-89443873e2b4.png");      
    }
    &[data-num="5"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1475778057357-d35f37fa89dd.png");      
    }
    &[data-num="6"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1464740042629-b78a46b310ae.png");      
    }
    &[data-num="7"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1428452932365-4e7e1c4b0987.png");      
    }
    &[data-num="8"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1444792131309-2e517032ded6.png");      
    }
    &[data-num="9"] {
        background-image: url("/jsdoitArchives/assets/img/d5e1ad1d.png");      
    }
}