* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #fff;
  font: 30px sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.default-input {
    position: fixed;
    top: 0;
    left: 0;
}

.hour, .minutes {
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
}

.content {
    position: relative;
    overflow: hidden;
}

.time {
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
    pointer-events: none;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
}

#input-time {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 88px;
}

.hour-ten, .minutes-ten, .hour-one, .minutes-one {
    width: 59px;
    height: 84px;
    background-repeat: no-repeat;
    background-position: center;
    &[data-num="0"] {
        background-image: url("common/img/photo-1454779132693-e5cd0a216ed3.png");      
    }
    &[data-num="1"] {
        background-image: url("common/img/photo-1451479456262-b94f205059be.png");      
    }
    &[data-num="2"] {
        background-image: url("common/img/photo-1473167146081-90eecb675695.png");      
    }
    &[data-num="3"] {
        background-image: url("common/img/photo-1414541944151-2f3ec1cfd87d.png");      
    }
    &[data-num="4"] {
        background-image: url("common/img/IKMsqwyaR6qN0kq48STw_annapurna.png");      
    }
    &[data-num="5"] {
        background-image: url("common/img/photo-1444837881208-4d46d5c1f127.png");      
    }
    &[data-num="6"] {
        background-image: url("common/img/photo-1474267119072-677dd7959e96.png");      
    }
    &[data-num="7"] {
        background-image: url("common/img/photo-1465205568425-23fdd3805e49.png");      
    }
    &[data-num="8"] {
        background-image: url("common/img/photo-1472215001262-9605640fdcdf.png");      
    }
    &[data-num="9"] {
        background-image: url("common/img/photo-1433360405326-e50f909805b3.png");      
    }
}