* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #fff;
  font: 30px sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.default-input {
    position: fixed;
    top: 0;
    left: 0;
}

.hour, .minutes {
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
}

.content {
    position: relative;
    overflow: hidden;
}

.time {
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
    pointer-events: none;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
}

#input-time {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 88px;
}

.hour-ten, .minutes-ten, .hour-one, .minutes-one {
    width: 59px;
    height: 84px;
    background-repeat: no-repeat;
    background-position: center;
    &[data-num="0"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1434139240289-56c519f77cb0.png");      
    }
    &[data-num="1"] {
        background-image: url("/jsdoitArchives/assets/img/9s1lvXLlSbCX5l3ZaYWP_hdr-1.png");      
    }
    &[data-num="2"] {
        background-image: url("/jsdoitArchives/assets/img/ZLSw0SXxThSrkXRIiCdT_DSC_0345.png");      
    }
    &[data-num="3"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1475710534222-6165a8b45449.png");      
    }
    &[data-num="4"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1421749810611-438cc492b581.png");      
    }
    &[data-num="5"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1472215001262-9605640fdcdf.png");      
    }
    &[data-num="6"] {
        background-image: url("/jsdoitArchives/assets/img/pelican.png");      
    }
    &[data-num="7"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1468224970805-92d72c619545.png");      
    }
    &[data-num="8"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1454789591675-556c287e39e2.png");      
    }
    &[data-num="9"] {
        background-image: url("/jsdoitArchives/assets/img/f9c22c58.png");      
    }
}