* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  background: #fff;
  font: 30px sans-serif; }

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.default-input {
  position: fixed;
  top: 0;
  left: 0; }

.hour, .minutes {
  border: 2px solid #ccc;
  border-radius: 3px;
  position: relative; }

.content {
  position: relative;
  overflow: hidden; }

.time {
  border: 2px solid #ccc;
  border-radius: 3px;
  position: relative;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: white; }

#input-time {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 88px; }

.hour-ten, .minutes-ten, .hour-one, .minutes-one {
  width: 59px;
  height: 84px;
  background-repeat: no-repeat;
  background-position: center; }
  .hour-ten[data-num="0"], .minutes-ten[data-num="0"], .hour-one[data-num="0"], .minutes-one[data-num="0"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1468083684825-012f39547b23.png"); }
  .hour-ten[data-num="1"], .minutes-ten[data-num="1"], .hour-one[data-num="1"], .minutes-one[data-num="1"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1461169879760-42b6796c1fc0.png"); }
  .hour-ten[data-num="2"], .minutes-ten[data-num="2"], .hour-one[data-num="2"], .minutes-one[data-num="2"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1473864942302-4e0b5f8ce743.png"); }
  .hour-ten[data-num="3"], .minutes-ten[data-num="3"], .hour-one[data-num="3"], .minutes-one[data-num="3"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1474835409173-5dc81aae3faa.png"); }
  .hour-ten[data-num="4"], .minutes-ten[data-num="4"], .hour-one[data-num="4"], .minutes-one[data-num="4"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1431576901776-e539bd916ba2.png"); }
  .hour-ten[data-num="5"], .minutes-ten[data-num="5"], .hour-one[data-num="5"], .minutes-one[data-num="5"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1415226620463-aedee27159c5.png"); }
  .hour-ten[data-num="6"], .minutes-ten[data-num="6"], .hour-one[data-num="6"], .minutes-one[data-num="6"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1462733441571-9312d0b53818.png"); }
  .hour-ten[data-num="7"], .minutes-ten[data-num="7"], .hour-one[data-num="7"], .minutes-one[data-num="7"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1429547584745-d8bec594c82e.png"); }
  .hour-ten[data-num="8"], .minutes-ten[data-num="8"], .hour-one[data-num="8"], .minutes-one[data-num="8"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1429305336325-b84ace7eba3b.png"); }
  .hour-ten[data-num="9"], .minutes-ten[data-num="9"], .hour-one[data-num="9"], .minutes-one[data-num="9"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1453280339213-efb07f95531b.png"); }
