* {
  margin: 0;
  padding: 0;
  border: 0; }

.wrapper {
  width: 100%;
  height: 100%; }

.sprite {
  width: 240px;
  height: 160px;
  background-image: url("/jsdoitArchives/assets/img/photo-1418985991508-e47386d96a71.png"); }
  .sprite[data-index="1"] {
    background-position: 0px 0px; }
  .sprite[data-index="2"] {
    background-position: 0px 100%; }
  .sprite[data-index="3"] {
    background-position: 100% 0px; }
  .sprite[data-index="4"] {
    background-position: 100% 100%; }
