* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  position: relative;
  width: 465px;
  height: 465px;
  background-color: #000; }

.wrapper {
  display: block;
  width: 465px;
  height: 92px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  text-align: center;
  font-size: 0; }

.link {
  width: 120px;
  transform: skewX(-15deg);
  display: inline-block;
  opacity: 1;
  transition: opacity ease-in 0.3s; }
  .link:nth-child(n+2) {
    margin-left: -25px; }
  .link:hover {
    opacity: 0.6; }

.img {
  overflow: hidden; }
  .img:before {
    content: "";
    display: block;
    background-image: url("/jsdoitArchives/assets/img/photo-1478059425650-ca13d6d422f4.jpeg");
    width: 120px;
    height: 92px;
    background-repeat: no-repeat;
    transform: skewX(15deg); }

.main-img {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  margin: 0 auto; }
