* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #dff;
  font: 30px sans-serif;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 300px;
}

.button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 120px;
    height: 120px;
    background-image: url("/jsdoitArchives/assets/img/photo-1463123081488-789f998ac9c4.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.indicator {
    position: absolute;
    bottom: 8px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: white;
}

.circle {
    $size: 12px;
    position: absolute;
    top: $size * -0.5 + 1px;
    left: $size * -0.5;
    width: $size;
    height: $size;
    border-radius: $size;
    background-color: orange;
}