* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #ffd;
  font: 30px sans-serif;
}

@keyframes sprite-image {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -1064px;
    }
}

.wrapper {
    position: relative;
    width: 465px;
    height: 465px;
}

.sprite {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 400px;
    height: 266px;

    background-image: url(/jsdoitArchives/assets/img/photo-1467321638755-7246fd0dc1f3.jpg);
    background-size: 400px 1064px;
    animation: sprite-image 1s steps(4) infinite;    
}

