* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
}

.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/jsdoitArchives/assets/img/photo-1481999666238-d4473c49f4fb.jpeg");
    background-size: cover;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}