* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #ffd;
  font: 30px sans-serif;
}

.wrapper {
    background-image: url(/jsdoitArchives/assets/img/photo-1414541944151-2f3ec1cfd87d.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 465px;
    height: 465px;
}


@mixin hover-white($src, $rate: .2) {
    background-image: url($src);
    background-size: cover;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url($src);
        background-size: cover;
        opacity: 0;
        pointer-events: none;
        filter: brightness(2000%);
        //transition: opacity .2s ease-out;
    }
    &:hover {
        &:after {
            opacity: $rate;
        }
        cursor: pointer;
    }
}

.btn {
    $src: '/jsdoitArchives/assets/img/photo-1463569643904-4fbae71ed917.png';
    $width: 257px;
    $height: 226px;
    
    width: $width;
    height: $height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
    @include hover-white($src);
}