* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  background: #ffd;
  font: 30px sans-serif; }

.wrapper {
  background-image: url(/jsdoitArchives/assets/img/PcLGXNjMTdiFVKTrElCl__DSC2245.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 465px;
  height: 465px; }

.btn {
  width: 257px;
  height: 226px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url("/jsdoitArchives/assets/img/photo-1470338622423-81a89b56393f.png");
  background-size: cover; }
  .btn:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("/jsdoitArchives/assets/img/photo-1471851455650-fae7acd5364f.png");
    background-size: cover;
    opacity: 0;
    pointer-events: none;
    filter: brightness(2000%); }
  .btn:hover {
    cursor: pointer; }
    .btn:hover:after {
      opacity: 0.2; }
