* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #fff;
  font: 30px sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hour, .minutes {
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
}

.minutes {
    margin-left: 20px;
}

select {
    position: relative;
    display: block;
    width: 112px;
    height: 84px;
    opacity: 0;
}

.hour-ten, .minutes-ten {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.hour-one, .minutes-one {
    position: absolute;
    top: 0;
    left: 50px;
    pointer-events: none;
}

.hour-ten, .minutes-ten, .hour-one, .minutes-one {
    width: 59px;
    height: 84px;
    background-repeat: no-repeat;
    background-position: center;
    &[data-num="0"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1433208406127-d9e1a0a1f1aa.png");      
    }
    &[data-num="1"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1474635183442-1d29a9be83d3.png");      
    }
    &[data-num="2"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1453974336165-b5c58464f1ed.png");      
    }
    &[data-num="3"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1475710534222-6165a8b45449.png");      
    }
    &[data-num="4"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1448960968772-b63b3f40dfc1.png");      
    }
    &[data-num="5"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1429547584745-d8bec594c82e.png");      
    }
    &[data-num="6"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1465441494912-68f5747c3fe0.png");      
    }
    &[data-num="7"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1428189923803-e9801d464d76.png");      
    }
    &[data-num="8"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1433208406127-d9e1a0a1f1aa.png");      
    }
    &[data-num="9"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1473800447596-01729482b8eb.png");      
    }
}