* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #fff;
  font: 30px sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hour, .minutes {
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
}

.minutes {
    margin-left: 20px;
}

select {
    position: relative;
    display: block;
    width: 112px;
    height: 84px;
    opacity: 0;
}

.hour-ten, .minutes-ten {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.hour-one, .minutes-one {
    position: absolute;
    top: 0;
    left: 50px;
    pointer-events: none;
}

.hour-ten, .minutes-ten, .hour-one, .minutes-one {
    width: 59px;
    height: 84px;
    background-repeat: no-repeat;
    background-position: center;
    &[data-num="0"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1466584820433-9ad1cc6798f3.png");      
    }
    &[data-num="1"] {
        background-image: url("/jsdoitArchives/assets/img/rqZBrx1WRsCtkqGSVBK6_IMG_0063.png");      
    }
    &[data-num="2"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1463780324318-d1a8ddc05a11.png");      
    }
    &[data-num="3"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1475776408506-9a5371e7a068.png");      
    }
    &[data-num="4"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1462146449396-2d7d4ba877d7.png");      
    }
    &[data-num="5"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1471733091092-73a03861dea7.png");      
    }
    &[data-num="6"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1473167146081-90eecb675695.png");      
    }
    &[data-num="7"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1473865327424-e85f6d40d354.png");      
    }
    &[data-num="8"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1468476396571-4d6f2a427ee7.png");      
    }
    &[data-num="9"] {
        background-image: url("/jsdoitArchives/assets/img/photo-1464823063530-08f10ed1a2dd.png");      
    }
}