* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #fff;
  font: 30px sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hour, .minutes {
    border: 2px solid #ccc;
    border-radius: 3px;
    position: relative;
}

.minutes {
    margin-left: 20px;
}

select {
    position: relative;
    display: block;
    width: 112px;
    height: 84px;
    opacity: 0;
}

.hour-ten, .minutes-ten {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.hour-one, .minutes-one {
    position: absolute;
    top: 0;
    left: 50px;
    pointer-events: none;
}

.hour-ten, .minutes-ten, .hour-one, .minutes-one {
    width: 59px;
    height: 84px;
    background-repeat: no-repeat;
    background-position: center;
    &[data-num="0"] {
        background-image: url("assets/img/photo-1421749810611-438cc492b581.png");      
    }
    &[data-num="1"] {
        background-image: url("assets/img/photo-1473865327424-e85f6d40d354.png");      
    }
    &[data-num="2"] {
        background-image: url("assets/img/photo-1473167146081-90eecb675695.png");      
    }
    &[data-num="3"] {
        background-image: url("assets/img/photo-1474470172489-c75ce5cbf836.png");      
    }
    &[data-num="4"] {
        background-image: url("assets/img/photo-1471539491521-29b5b92d0e47.png");      
    }
    &[data-num="5"] {
        background-image: url("assets/img/photo-1464621922360-27f3bf0eca75.png");      
    }
    &[data-num="6"] {
        background-image: url("assets/img/photo-1466220666686-90bdba318c9a.png");      
    }
    &[data-num="7"] {
        background-image: url("assets/img/photo-1461770354136-8f58567b617a.png");      
    }
    &[data-num="8"] {
        background-image: url("assets/img/photo-1456428199391-a3b1cb5e93ab.png");      
    }
    &[data-num="9"] {
        background-image: url("assets/img/photo-1428190318100-06790c8b2e5a.png");      
    }
}