* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  background: #fff;
  font: 30px sans-serif; }

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.hour, .minutes {
  border: 2px solid #ccc;
  border-radius: 3px;
  position: relative; }

.minutes {
  margin-left: 20px; }

select {
  position: relative;
  display: block;
  width: 112px;
  height: 84px;
  opacity: 0; }

.hour-ten, .minutes-ten {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; }

.hour-one, .minutes-one {
  position: absolute;
  top: 0;
  left: 50px;
  pointer-events: none; }

.hour-ten, .minutes-ten, .hour-one, .minutes-one {
  width: 59px;
  height: 84px;
  background-repeat: no-repeat;
  background-position: center; }
  .hour-ten[data-num="0"], .minutes-ten[data-num="0"], .hour-one[data-num="0"], .minutes-one[data-num="0"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1444842741774-771cf4455a78.png"); }
  .hour-ten[data-num="1"], .minutes-ten[data-num="1"], .hour-one[data-num="1"], .minutes-one[data-num="1"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1478059425650-ca13d6d422f4.png"); }
  .hour-ten[data-num="2"], .minutes-ten[data-num="2"], .hour-one[data-num="2"], .minutes-one[data-num="2"] {
    background-image: url("/jsdoitArchives/assets/img/829d24cf.png"); }
  .hour-ten[data-num="3"], .minutes-ten[data-num="3"], .hour-one[data-num="3"], .minutes-one[data-num="3"] {
    background-image: url("/jsdoitArchives/assets/img/default-ogp.png"); }
  .hour-ten[data-num="4"], .minutes-ten[data-num="4"], .hour-one[data-num="4"], .minutes-one[data-num="4"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1482160549825-59d1b23cb208.png"); }
  .hour-ten[data-num="5"], .minutes-ten[data-num="5"], .hour-one[data-num="5"], .minutes-one[data-num="5"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1470921269614-2937493e6a2c.png"); }
  .hour-ten[data-num="6"], .minutes-ten[data-num="6"], .hour-one[data-num="6"], .minutes-one[data-num="6"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1465415513839-55341da57a98.png"); }
  .hour-ten[data-num="7"], .minutes-ten[data-num="7"], .hour-one[data-num="7"], .minutes-one[data-num="7"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1466278313810-9aca9abea861.png"); }
  .hour-ten[data-num="8"], .minutes-ten[data-num="8"], .hour-one[data-num="8"], .minutes-one[data-num="8"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1474417900905-e0283102743a.png"); }
  .hour-ten[data-num="9"], .minutes-ten[data-num="9"], .hour-one[data-num="9"], .minutes-one[data-num="9"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1456428199391-a3b1cb5e93ab.png"); }
