* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  background: #fff;
  font: 30px sans-serif; }

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.hour, .minutes {
  border: 2px solid #ccc;
  border-radius: 3px;
  position: relative; }

.minutes {
  margin-left: 20px; }

select {
  position: relative;
  display: block;
  width: 112px;
  height: 84px;
  opacity: 0; }

.hour-ten, .minutes-ten {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; }

.hour-one, .minutes-one {
  position: absolute;
  top: 0;
  left: 50px;
  pointer-events: none; }

.hour-ten, .minutes-ten, .hour-one, .minutes-one {
  width: 59px;
  height: 84px;
  background-repeat: no-repeat;
  background-position: center; }
  .hour-ten[data-num="0"], .minutes-ten[data-num="0"], .hour-one[data-num="0"], .minutes-one[data-num="0"] {
    background-image: url("assets/img/photo-1456305951335-bb8134aeab8a.png"); }
  .hour-ten[data-num="1"], .minutes-ten[data-num="1"], .hour-one[data-num="1"], .minutes-one[data-num="1"] {
    background-image: url("assets/img/photo-1437650128481-845e6e35bd75.png"); }
  .hour-ten[data-num="2"], .minutes-ten[data-num="2"], .hour-one[data-num="2"], .minutes-one[data-num="2"] {
    background-image: url("assets/img/photo-1431576901776-e539bd916ba2.png"); }
  .hour-ten[data-num="3"], .minutes-ten[data-num="3"], .hour-one[data-num="3"], .minutes-one[data-num="3"] {
    background-image: url("assets/img/pHyYeNZMRFOIRpYeW7X3_manacloseup-copy.png"); }
  .hour-ten[data-num="4"], .minutes-ten[data-num="4"], .hour-one[data-num="4"], .minutes-one[data-num="4"] {
    background-image: url("assets/img/photo-1433190152045-5a94184895da.png"); }
  .hour-ten[data-num="5"], .minutes-ten[data-num="5"], .hour-one[data-num="5"], .minutes-one[data-num="5"] {
    background-image: url("assets/img/photo-1465935343323-d742334bcbda.png"); }
  .hour-ten[data-num="6"], .minutes-ten[data-num="6"], .hour-one[data-num="6"], .minutes-one[data-num="6"] {
    background-image: url("assets/img/photo-1415226620463-aedee27159c5.png"); }
  .hour-ten[data-num="7"], .minutes-ten[data-num="7"], .hour-one[data-num="7"], .minutes-one[data-num="7"] {
    background-image: url("assets/img/photo-1432836431433-925d3cc0a5cd.png"); }
  .hour-ten[data-num="8"], .minutes-ten[data-num="8"], .hour-one[data-num="8"], .minutes-one[data-num="8"] {
    background-image: url("assets/img/photo-1428452932365-4e7e1c4b0987.png"); }
  .hour-ten[data-num="9"], .minutes-ten[data-num="9"], .hour-one[data-num="9"], .minutes-one[data-num="9"] {
    background-image: url("assets/img/photo-1431512284068-4c4002298068.png"); }
