* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  background: #fff;
  font: 30px sans-serif; }

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.hour, .minutes {
  border: 2px solid #ccc;
  border-radius: 3px;
  position: relative; }

.minutes {
  margin-left: 20px; }

select {
  position: relative;
  display: block;
  width: 112px;
  height: 84px;
  opacity: 0; }

.hour-ten, .minutes-ten {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; }

.hour-one, .minutes-one {
  position: absolute;
  top: 0;
  left: 50px;
  pointer-events: none; }

.hour-ten, .minutes-ten, .hour-one, .minutes-one {
  width: 59px;
  height: 84px;
  background-repeat: no-repeat;
  background-position: center; }
  .hour-ten[data-num="0"], .minutes-ten[data-num="0"], .hour-one[data-num="0"], .minutes-one[data-num="0"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1470104240373-bc1812eddc9f.png"); }
  .hour-ten[data-num="1"], .minutes-ten[data-num="1"], .hour-one[data-num="1"], .minutes-one[data-num="1"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1468083684825-012f39547b23.png"); }
  .hour-ten[data-num="2"], .minutes-ten[data-num="2"], .hour-one[data-num="2"], .minutes-one[data-num="2"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1471539491521-29b5b92d0e47.png"); }
  .hour-ten[data-num="3"], .minutes-ten[data-num="3"], .hour-one[data-num="3"], .minutes-one[data-num="3"] {
    background-image: url("/jsdoitArchives/assets/img/d5e1ad1d.png"); }
  .hour-ten[data-num="4"], .minutes-ten[data-num="4"], .hour-one[data-num="4"], .minutes-one[data-num="4"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1472215001262-9605640fdcdf.png"); }
  .hour-ten[data-num="5"], .minutes-ten[data-num="5"], .hour-one[data-num="5"], .minutes-one[data-num="5"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1416592525293-e65266465eb7.png"); }
  .hour-ten[data-num="6"], .minutes-ten[data-num="6"], .hour-one[data-num="6"], .minutes-one[data-num="6"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1474302694023-9711af8045cf.png"); }
  .hour-ten[data-num="7"], .minutes-ten[data-num="7"], .hour-one[data-num="7"], .minutes-one[data-num="7"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1440847899694-90043f91c7f9.png"); }
  .hour-ten[data-num="8"], .minutes-ten[data-num="8"], .hour-one[data-num="8"], .minutes-one[data-num="8"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1414541944151-2f3ec1cfd87d.png"); }
  .hour-ten[data-num="9"], .minutes-ten[data-num="9"], .hour-one[data-num="9"], .minutes-one[data-num="9"] {
    background-image: url("/jsdoitArchives/assets/img/photo-1433190152045-5a94184895da.png"); }
