* {
  margin: 0;
  padding: 0;
  border: 0; }

body {
  background: #ffd;
  font: 30px sans-serif; }

@keyframes sprite-image {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, -100%); } }
.wrapper {
  position: relative;
  width: 465px;
  height: 465px; }

.sprite {
  position: absolute;
  top: 10vw;
  left: 10vw;
  margin: auto;
  width: 80vw;
  overflow: hidden;
  transform: translate3d(0, 0, 0); }
  .sprite:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("/jsdoitArchives/assets/img/photo-1471455558438-c1e9d5854d85.jpeg");
    background-repeat: no-repeat;
    background-size: contain;
    animation: sprite-image 1s steps(4) infinite;
    padding-top: 266.66667%; }
  .sprite:after {
    content: '';
    display: block;
    padding-top: 66.66667%; }
