* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: white;
  background: #fff;
}

.wrapper {
    width: 465px;
    height: 465px;
    position: relative;
}

.rect1, .rect2 {
    position: absolute;
    display: block;
    width: 200px;
    height: 200px;
}

.rect1 {
    top: 100px;
    left: 100px;
    background-color: red;
    z-index: 1;
    transition: z-index 1s linear;
    &.switch {
        z-index: 3;
    }
}

.rect2 {
    top: 50px;
    left: 50px;
    background-color: blue;
    z-index: 2;
}