* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
}

svg, rect {
    width: 300px;
    height: 300px;
}

svg {
    width: 300px;
    height: 300px;
    stroke-dasharray: 1200;
    stroke-dashoffset: 1200;
    fill: none;
    stroke-width: 10;
    stroke: red;
    animation: draw 0.6s ease-out both;
}

@keyframes draw {
    0% {
        stroke-dashoffset: 1200;
    }
    100% {
        stroke-dashoffset: 0;
    }
}