* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
}

.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/common/img/aOcWqRTfQ12uwr3wWevA_14401305508_804b300054_o.jpg");
    background-size: cover;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}