* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
}

.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/jsdoitArchives/assets/img/photo-1422651355218-53453822ebb8.jpg");
    background-size: cover;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}