* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
}

.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("assets/img/photo-1482160549825-59d1b23cb208.jpeg");
    background-size: cover;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}