* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
}

.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/jsdoitArchives/assets/img/photo-1451431487663-470c5380d27c.jpg");
    background-size: cover;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}