* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #dfd;
  font: 30px sans-serif;
}

.elem {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 200px;
    background-image: url(/jsdoitArchives/assets/img/photo-1419064642531-e575728395f2.png);
    background-size: 200px 229px;
    background-repeat: no-repeat;
    background-position: center;
    visibility: hidden;
    animation: fade-in 0.5s ease-in-out 1 both;
    &.is-show {
        visibility: visible;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}