* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
}

.bg {
    width: 465px;
    height: 465px;
    background: url('/jsdoitArchives/assets/img/flog-sing.gif') repeat center center;
}